*{
    margin:0;
    padding: 0;
}
  
.about-div{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ceedfa;
     
}
.info-div{
    
    display: flex;
    
    /* padding: 15px;  */
}
.info-div-txt{
    width: 850px;
    display: flex;
    flex-direction: column;
    background-color: rgb(159, 195, 200);
    padding: 15px;
    /* margin: 10px 0 0 0; */
    border-style: hidden;
    border-radius: 15px;
}
.info-txt1{
    margin: 0 0 15px 0;
    font-size: 28px;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.info-txt{
    margin:0 0 15px 0;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
@media screen and (max-width:1025px) {
    .about-div{
        
        height: 45vh;
        
    }
}
@media screen and (max-width:1024px) {
  
    .info-div-txt{
        width: 680px;
    }
}
@media screen and (max-width:768px) {
   
    .info-div-txt{
        width: 420px;
    }
}
@media screen and (max-width:480px) {
    .about-div{
        
        height: 61vh;
        
    }
    .info-div-txt{
        width: 260px;
    }
    .info-txt{
        font-size: 18px;
       
        
    }
}
/* @media screen and (max-width:1367px) {
    .about-div{
        
        height: 28vh;
        
    }
}
@media screen and (max-width:1025px) {
    .about-div{
        
        height: 22vh;
        
    }
}

@media screen and (max-width:881px) {
    .info-div-txt{
        width: 600px;
    }
    
}
@media screen and (max-width:825px) {
    .about-div{
       
        height: 47vh;
        
    }
}
@media screen and (max-width:821px) {
    .about-div{
      
        height: 24vh;
        
    }
}

@media screen and (max-width:769px) {
    .about-div{
        
        height: 27vh;
         
    }
}
@media screen and (max-width:679px) {
    .info-div-txt{
        width: 500px;
    }
    
}
@media screen and (max-width:618px) {
    .about-div{
       
        height: 45vh;
        
    }
}
@media screen and (max-width:580px) {
    .info-div-txt{
        width: 445px;
    }
    
}
@media screen and (max-width:529px) {
        .info-div-txt{
            width: 394px;
        }
        
    }
    

@media screen and (max-width:431px) {   
        .info-div-txt{
            width: 366px;
        } 
        .about-div{
           
            height: 35vh;
             
        } 
}
@media screen and (max-width:391px) {   
    .info-div-txt{
        width: 320px;
    }  
    .about-div{
        
        height: 41vh;
         
    }  
}
@media screen and (max-width:376px) {   
      
    .about-div{
        
        height: 52vh;
         
    }  
} */